
<h1>Name: <%= @new_team %></h1><br>
<h3>Team Motto: <%= @motto %></h3>

<h2>Hero Name: <%= @hero_names[0] %></h2><br>
<body>
<p>Hero Power: <%= @hero_powers[0] %></p><br>
<p>Hero Biography: <%= @hero_bios[0] %></p><br>
</body>

<h2>Hero Name: <%= @hero_names[1] %></h2><br>
<body>
<p>Hero Power: <%= @hero_powers[1] %></p><br>
<p>Hero Biography: <%= @hero_bios[1] %></p><br>
</body>

<h2>Hero Name: <%= @hero_names[2] %></h2><br>
<body>
<p>Hero Power: <%= @hero_powers[2] %></p><br>
<p>Hero Biography: <%= @hero_bios[2] %></p><br>
</body>

  

   



